*.pyc
*.log
.glance-venv
.stestr/*
.testrepository/
.tox
.coverage*
.venv
cover/*
covhtml
nosetests.xml
coverage.xml
glance.sqlite
AUTHORS
ChangeLog
build
dist
*.egg
.eggs/*
glance.egg-info
tests.sqlite
glance/versioninfo
subunit.log

# Swap files range from .saa to .swp
*.s[a-w][a-p]

# Files created by doc build
doc/source/api
doc/source/_static/*.sample
doc/source/contributor/api

# Files created by releasenotes build
releasenotes/build

# IDE files
.project
.pydevproject
.idea
.e4p
.eric5project/
.issues/
.ropeproject
