*.pyc
*.swp
*.log
.glance-venv
.venv
.testrepository/
.tox
.coverage*
cover/*
nosetests.xml
coverage.xml
glance.sqlite
AUTHORS
ChangeLog
build
doc/source/api
dist
*.egg
glance.egg-info
tests.sqlite
glance/versioninfo
# Files created by doc build
doc/source/api

# IDE files
.project
.pydevproject
.idea