# Format is:
# <preferred e-mail> <other e-mail 1>
# <preferred e-mail> <other e-mail 2>
<adam.gandelman@canonical.com> <adamg@canonical.com>
<brian.waldon@rackspace.com> <bcwaldon@gmail.com>
<corywright@gmail.com> <cory.wright@rackspace.com>
<dprince@redhat.com> <dan.prince@rackspace.com>
<jsuh@isi.edu> <jsuh@bespin>
<josh@jk0.org> <josh.kearney@rackspace.com>
<lorin@nimbisservices.com> <lorin@isi.edu>
<mr.alex.meade@gmail.com> <hatboy112@yahoo.com>
<mr.alex.meade@gmail.com> <alex.meade@rackspace.com>
<rconradharris@gmail.com> <rick.harris@rackspace.com>
<rconradharris@gmail.com> <rick@quasar.racklabs.com>
<rick@openstack.org> <rclark@chat-blanc>
<soren.hansen@rackspace.com> <soren@linux2go.dk>
<soren.hansen@rackspace.com> <soren@openstack.org>
<jeblair@hp.com> <corvus@gnu.org>
<jeblair@hp.com> <james.blair@rackspace.com>
<chris@pistoncloud.com> <chris@slicehost.com>
<ken.pepple@gmail.com> <ken.pepple@rabbityard.com>
<gareth@unitedstack.com> <academicgareth@gmail.com>
Zhongyue Luo <zhongyue.nah@intel.com> <lzyeval@gmail.com>
Zhenguo Niu <zhenguo@unitedstack.com> <Niu.ZGlinux@gmail.com>
<yufang521247@gmail.com> <zhangyufang@360.cn>
David Koo <david.koo@huawei.com> <kpublicmail@gmail.com>
