# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

# Hacking already pins down pep8, pyflakes and flake8
hacking<0.11,>=0.10.0

# For translations processing
Babel>=1.3

# Needed for testing
coverage>=3.6
fixtures>=1.3.1
mox3>=0.7.0
mock>=1.2
sphinx!=1.2.0,!=1.3b1,<1.3,>=1.1.2
requests!=2.8.0,>=2.5.2
testrepository>=0.0.18
testresources>=0.2.4
testscenarios>=0.4
testtools>=1.4.0
psutil<2.0.0,>=1.1.1
oslotest>=1.10.0 # Apache-2.0
# Optional packages that should be installed when testing
PyMySQL>=0.6.2 # MIT License
psycopg2>=2.5
pysendfile>=2.0.0
qpid-python;python_version=='2.7'
xattr>=0.4

# Documentation
oslosphinx>=2.5.0 # Apache-2.0
reno[sphinx]>=0.1.1  # Apache2
